@font-face {
  font-family: Zebulon;
  src: url(../../../assets/fonts/Zebulon.otf);
}

.card_container {
  display: inline-block;
  position: relative;
  border-radius: 10px;
  background-color: #6af520;
  width: 14vw;
  height: auto; /* change it at lats momemnt*/
  margin-bottom: 5px;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}
.card_container img {
  width: 100%;
  height: 22.1vh;
}
.card_details {
  background-image: url("https://dirt-backend.onrender.com/uploads/marketplace_card_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
  width: 101%;
  padding: 2vh 1vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card_details span:nth-child(1) {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
}
.card_details span:nth-child(2) {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  color: #ffe500;
  margin: 0;
}

.buycoin_card_container {
  display: inline-block;
  position: relative;
  border-radius: 10px;
  background-color: #372a1f;
  width: 15vw;
  height: auto; /* change it at lats momemnt*/
  margin-bottom: 5px;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}
.buycoin_card_container img {
  width: 25px;
  height: 25px;
}
.buycoin_card_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh 1vh;
  gap: 10px;
}
.buycoin_card_price_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.buycoin_card_price_wrapper h1 {
  margin: 0;
  color: #fff;
  font-family: Zebulon;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.buycoin_card_price_wrapper span {
  margin: 0;
  color: #fff;
  font-family: Zebulon;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
}
.buycoin_card_details {
  background-image: url("../../../assets/images/marketplace_card_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
  width: 100%;
  padding: 3vh 0vh;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: center;
}

.buycoin_card_details h1 {
  color: #fff;
  font-family: Zebulon;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.buycoin_card_details span{
  color: #fff;
  font-family: Zebulon;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
